*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
    /* outline: 1px solid red; */
    color: black;
  
}



body{
    background-color: #b4cfb0;
    overflow-x: hidden;
}

.container-fluid{
    background-color: beige;
    padding-left: 30px;
    padding-right: 30px;

}

.container-fluid2{
    background-color: #b4cfb0;
    /* display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    justify-content: center; */

    max-width: 700px;
    margin-inline: auto;
}


.container-description{
    display: flex;
    flex-direction: row;
    background-color: #b4cfb0;
    color: black;
    font-family: lora;
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.container-testimonials2{
    background-color: #b4cfb0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: lora;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction:column;
}

.container-accompaniement, .container-association, .container-practices, .container-testimonials, .container-qui{
    max-width: 700px;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* text-align: center; */
    justify-items: center;
    font-family: lora;
    font-size: 0.8rem;
    
}

.container-nav{
    max-width: 900px;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-items: center;
    font-family: lora;
}

.container-contact{
    background-color: #b4cfb0;
    font-family: lora;
}
.container-card{

    background-color: #b4cfb0;
    text-align: center;
    max-width: 100%;
    
}

.container-footer{

    display: flex;
    flex-direction:column;
    font-size: 0.7rem;
}

.container-coordonnees{
    width: 100%;
}

.admin{
    color: black;
}

.banner{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.nav-link{
    background-color: #b4cfb0;
    font-family: 'lora';
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 50px;
}
.navbar-collapse{
    margin-top: 50px;
}

.same-bg {
  background-color: #b4cfb0; /* vert tilleul */
}

.same-bg2{
    background-color: #f5f5dc;
}

.btn-same-bg{
    color: black;
    background-color:#b4cfb0;
    border-radius: 50px 0px 50px 0px;
    border: 1px solid #f5f5dc; /* Bordure beige */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); /* Ombre portée */
    margin-bottom: 30px;
    font-weight: bold;
    font-family: lora;
}

.btn-same-bg2{
    color: black;
    background-color: #f5f5dc;
    border-radius: 50px 0px 50px 0px;
    border: 1px solid #b4cfb0; /* Bordure beige */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); /* Ombre portée */
    font-weight: bold;
    font-family: lora;
}

.btn-same-bg3{
    color: black;
    background-color: #f5f5dc;
    border-radius: 50px 50px 0px 50px;
    border: 1px solid #b4cfb0; /* Bordure beige */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); /* Ombre portée */
    font-weight: bold;
    font-family: lora;
}

.btn-same-bg4{
    color: black;
    background-color: #f5f5dc;
    border-radius: 0px 50px 50px 50px;
    border: 1px solid #b4cfb0; /* Bordure beige */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); /* Ombre portée */
    font-weight: bold;
    font-family: lora;
}

.btn-same-bg5{
    color: black;
    background-color:#b4cfb0;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid beige; /* Bordure beige */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); /* Ombre portée */
    margin-bottom: 40px;
    font-weight: bold;
    font-family: lora;
}

.btn-same-bg5:hover{
    background-color: #f5f5dc;
}

.bloc-titres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}

.titre {
  margin: 0;
  text-align: left;
  font-family: playfair display;
  
  }

/* Styles spécifiques */
.titre-principal {
    font-size: 3.75rem;
    font-weight: normal;
    color: #f5f5dc;
    
}

.titre-label {
  color: #f5f5dc;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 150px;
}

.titre-slogan {
  font-size: 1.9rem;
  font-weight:normal;
  margin-top: 290px;
  align-self: flex-end; /* positionné à droite */
  color: #f5f5dc;
  
}

.description{
    margin: 0;
    background-color: #b4cfb0;
}

.fw-bold1{
    background-color: #f5f5dc;
    font-size: 24px;
    padding: 20px 40px;
    margin-bottom: 50px;
    border-radius: 50px 50px 0px 50px;
    margin: 0 auto 20px auto;  /* marge extérieure : haut, droite, bas, gauche */
    display: inline-block;
}

.fw-bold2{
    background-color: #f5f5dc;
    font-size: 24px;
    padding:20px 40px;
    margin-bottom: 50px;
    text-align: center;
    border-radius:0px 50px 50px 50px;
    margin: 0 auto 20px auto;  /* marge extérieure : haut, droite, bas, gauche */
    display: inline-block;
}

.fw-bold3{
    background-color: #f5f5dc;
    font-family: lora;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    border-radius:50px 0px 50px 0px;
    color: black;
}

/* p{
    font-size: 1rem;
    color: black;
    
    margin: 0;
} */

p{
    margin: 0px;
    font-family: lora;
    text-align: justify;
    font-size: 1rem;;
}

.objectif{
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
}
 
.psy{
    color: #f5f5dc;
  font-size: 1rem;
  margin-top: 10px;
  font-family: playfair display;
}

.parcours, .association{
    text-align: start;
    text-align:justify;
    background-color: #f5f5dc;
    border-radius: 5px 5px 5px 5px;
    padding: 30px;
    margin-bottom: 50px;
}




.list-unstyled{
    font-size: 1rem;
    color: black;
    text-align: left;
}

.precisions{
    padding-top: 20px;
    font-size: 1rem;
    color: black;
    
    }

.bandeau{
    background-color: #f5f5dc;
    padding: 0;
    margin: 0;
    min-height: 60px;
    }
    

    
h1{
    font-family: playfair display;
    font-weight: normal;
    font-size: 60px;
    color:black ;
    

    }
h4{
    font-family: playfair display;
    font-weight: normal;
    font-size: 20px;
    color:black ;
    padding-left: 40px;
}
    
h3{
    font-family: playfair display;
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}

h5{
    font-family: lora;
}

.img{
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 600px;
    width: 100%;

    }
.img-fluid2{
    border-radius: 100%;
    object-fit: cover;
    width: 300px;
    max-width : 100%;
    
    }

.img-fluid2:hover {
    transform: scale(1.05); /* agrandissement léger */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* ombre plus marquée */
    max-width:100%;
}

.lead, .association{
    font-family: lora;
    font-weight: bold;
    font-size: 1rem;
       
}

.container-presentation{
   
    max-width:100%;
    margin-inline: auto ;
    text-align: justify;
}
.formations{
    background-color: #f5f5dc;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    width: 100%;
    background-color: #f5f5dc;
    border-radius: 10px;
    
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}


.card-content{
    padding-left: 10px;
    padding-right: 10px;
    font-family: lora;
}


input, select, textarea, label{
    /* max-width: 500px; */
  display: block;
  margin: 0 auto;
  max-width: 400px; /* facultatif pour limiter la largeur */
  text-align:inherit;
}

.dropdown-menu{
    background-color: #b4cfb0;
    font-family: lora;
    
}

.dropdown-item:hover{
    background-color: #f5f5dc;
}

#testimonial_content{
    max-width: 600px;
    height: 200px;
}

#testimonial_firstName, #testimonial_createdAt, .form-label{
    max-width: 600px;
    height: 50px;
}


.container_edit_testimonial{
    display: flex;
    flex-direction: column;

}

input[type="checkbox"].form-check-input:checked {
  background-color:black;
  border-color: #28a745;
  
}

input[type="checkbox"].form-check-input {
  accent-color: black;
}


.footer{
    background-color: #f5f5dc;
    font-weight:bold;
}


.footer-section h6 {
  font-size: 0.6rem;
  font-weight: 600;
}

.footer-section p,
.footer-section li{
  font-size: 0.5rem;
  text-align: center;
}

.mentions a{
    font-size: 0.5rem;

}

.fs-8 {
  font-size: 8px;
}


h6{
    color: chocolate;
    font-size: 0.8rem;
    font-family: lora;
}
a{
    font-family: lora;
}

.mentions{
    font-size: 0.6rem;
}

.brand{
    background-color:beige;
    font-family: playfair display;
    color: black;
    justify-content: center;
    padding: 50px;
    border-radius: 0px 150px 0px 150px;;
}

.navbar-brand{
    font-size: 1.6rem;
}

.navbar-text{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: playfair display;
    
}


/* Responsive */
@media (max-width: 768px) {


    .img-fluid2{
        max-width: 200px;
    }
  .bloc-titres {
    padding-left: 15px;
    padding-top: 20px;
  }

  .titre-principal {
    font-size: 2.2rem;
  }

  .titre-label {
    font-size: 1rem;
  }

  .titre-slogan {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
  }
  
  .nav-link{

    font-size: 1rem;
    padding: 0px;
    text-align: center;
  }
  
  
  
}
