{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="banner" style="background-image: url('{{ asset('images/image-home.jpg') }}');">
    <h1>Hic&Nunc</h1>
    <h6>Ici et maintenant</h6>
    <h2>Pour un nouveau départ<h2>
</div>
{# <div class="container-fluid3">
    
</div> #}




{% endblock %}
