{% extends 'base.html.twig' %}
{% block title %}Hello AdminAppointmentController!{% endblock %}

{% block body %}


<h1>{{ appointment is defined ? 'Modifier' : 'Créer' }} un RDV</h1>
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn btn-success mt-3">Valider</button>
{{ form_end(form) }}

{% endblock %}