<footer class="footer mt-auto py-0 same-bg2">


<div class="container-footer">

<section class="d-flex justify-content-center py-4">
      <img src="{{asset('images/logo.png')}}" alt="Logo" width="150" height="70" class="d-inline-block align-text-top">

</section>







</footer



