 <div class="container-fluid">
    
      <img src="{{asset('images/logo.png')}}" alt="Logo" width="150" height="70" class="d-inline-block align-text-top">

      
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
        <a href="{{path('app_logout')}}" class="btn btn-same-bg px-4 mb-5 mt-4">Se déconnecter</a>
          
      </div>
      
      
  </div>